.container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  align-items: flex-start;
}

.mainContentArea {
  flex-grow: 1; 
  display: flex; 
  flex-direction: column;
  min-width: 0;
}

.contentDisplay {
  padding: 20px;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.contentDisplay h1 {
  color: #ff5e00;
  margin-bottom: 15px;
  text-align: center;
}

.contentDisplay p {
  color: #555;
  font-size: 20px;
  line-height: 1.5;
}

.image {
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 800px;
  height: 550px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gameLink {
  display: block;
  width: fit-content;
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #ca0000;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.2s ease;
}

.gameLink:hover {
  background-color: #218838;
}
