// body{
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(135deg, #7aff52, #f7a121);
//     display: flex
// ;
//     justify-content: center;
//     align-items: center;
//     z-index: 2000;
//     color: white;
//     text-align: center;
//     flex-direction: column;
// }