:global(html, body) {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:global(body) {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e0f2f7;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  color: #2c3e50;
  padding: 20px;
}

:global(.game-wrapper.hidden) {
  display: none;
}

:global(.game-wrapper) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  box-sizing: border-box;
  display: none;
}

:global(.modal) {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

:global(.modal.active) {
  display: flex;
}

:global(.final-puzzle-image) {
  max-width: 85%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

:global(.modal-content) {
  background-color: #f9f9f9;
  margin: auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  text-align: center;

  h3 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 1.6em;
  }

  p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 25px;
  }
}

@media (max-width: 425px) {
  :global(.modal-content) {
    width: 75%;
  }
}
