.navigationSection{
  position: sticky;
  top: 20px;
  max-height: calc(100vh - 40px); 
  overflow-y: auto;
  flex-shrink: 0;
  width: 250px;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navigationList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationItem {
  margin-bottom: 5px;
}

.navLink {
  display: block;
  padding: 8px 12px;
  background-color: #c4c1c9;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.navLink:hover {
  background-color: #0056b3;
}

.navLink.active {
  background-color: #ff5e00;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
