.container {
  display: flex;
  align-items: flex-start;
}

.navigationSection {
  position: sticky;
  top: 20px;
  width: 250px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  flex-shrink: 0;
  padding: 15px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease;
}

.hamburger {
  position: fixed;
  top: 20px;
  background-color: #f9f9f9;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 10px;
}

.navigationList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigationSection {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  margin-top: 10px;
  width: 0;
}

:global(.navigationSection.open) {
  visibility: visible;
  opacity: 1;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

.navigationItem {
  margin-bottom: 5px;
}

.navLink {
  display: block;
  padding: 8px 12px;
  background-color: #c4c1c9;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.navLink:hover {
  background-color: #0056b3;
}

.navLink.active {
  background-color: #ff5e00;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .navigationSection {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
  }

  :global(.hamburger) {
    position: sticky;
    display: block;
    position: relative;
    z-index: 10;
    margin-left: 10px;
  }

  :global(.navigationSection.open) {
    width: 200px;
    padding: 10px;
  }

  :global(.navigationSection.open .hamburger) {
    margin-left: 0;
  }

  .navigationList li {
    margin-bottom: 5px;
  }

  .navigationList p {
    margin: 10px 0;
    font-weight: bold;
  }

  .navigationList a {
    display: block;
    padding: 8px 12px;
    background-color: #c4c1c9;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  .navigationList a:hover {
    background-color: #0056b3;
  }
}

@media (min-width: 769px) {
  .navigationSection {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: width 0.3s ease, padding 0.3s ease;
  }

  .hamburger {
    position: relative;
    z-index: 10;
    margin-left: 0;
  }

  :global(.navigationSection.open) {
    width: 250px;
    padding: 15px;
  }

  .navigationSection.open .hamburger {
    margin-left: 0;
  }

  .navigationList a {
    padding: 8px 12px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navigationSection.open {
    padding: 12px;
  }

  .navigationList a {
    padding: 8px 10px;
  }

  .navigationSection {
    padding: 12px;
  }

  .navigationList a {
    padding: 8px 10px;
  }
}
@media (max-width: 425px) {
  :global(.navigationSection.open) {
    position: absolute;
    width: 170px;
    height: 500px;
    padding: 10px;
  }
}
