@import "variables";

:global(.puzzle-container) {
  width: 49%;
  background-color: $card-background;
  padding: $spacing-l;
  border-radius: $border-radius-card;
  box-shadow: $box-shadow-base;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: $spacing-xs;
  overflow-y: auto;
  flex-grow: 1.5;
  min-height: 0;
}
:global(.hidden) {
  display: none !important;
}

:global(.puzzle-image) {
  width: calc(17.666% - #{$spacing-xs * 5 / 6}); // Для 5 колонок монументов
  height: auto;
  border-radius: $border-radius-base;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

:global(.street-puzzle-image) {
  width: calc(30% - #{$spacing-xs / 2}); // Для 2 колонок улиц (2x2 сетка)
  height: auto;
  border-radius: $border-radius-base;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
  :global(.puzzle-image) {
    width: calc(23.666% - #{$spacing-xs * 5 / 6});
  }
}

@media (max-width: 425px) {
  :global(.puzzle-image) {
    width: calc(30.666% - #{$spacing-xs * 5 / 6});
  }
  :global(.street-puzzle-image) {
    width: calc(50% - #{$spacing-xs / 2});
  }
}

:global(.puzzle-image.hidden),
:global(.street-puzzle-image.hidden) {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

:global(.puzzle-image:not(.hidden)),
:global(.street-puzzle-image:not(.hidden)) {
  opacity: 1;
  height: auto;
}
