@use "sass:math";
:global(.puzzle-container) {
  width: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 8px;
  overflow-y: auto;
  flex-grow: 1.5;
  min-height: 0;
}
:global(.hidden) {
  display: none !important;
}

:global(.puzzle-image) {
  width: calc(17.666% - #{math.div(8px * 5, 6)});
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

:global(.street-puzzle-image) {
  width: calc(34% - #{math.div(8px, 2)});
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

@media (max-width: 768px) {
  :global(.puzzle-image) {
    width: calc(23.666% - #{math.div(8px * 5, 6)});
  }
}

@media (max-width: 425px) {
  :global(.puzzle-image) {
    width: calc(30.666% - #{math.div(8px * 5, 6)});
  }
  :global(.street-puzzle-image) {
    width: calc(50% - #{math.div(8px, 2)});
  }
}

:global(.puzzle-image.hidden),
:global(.street-puzzle-image.hidden) {
  opacity: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
}

:global(.puzzle-image:not(.hidden)),
:global(.street-puzzle-image:not(.hidden)) {
  opacity: 1;
  height: auto;
}
